
.interactive {
    padding-bottom: 94px;
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.engage {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
&__number {
    width: 100%;
    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px) / 3); 
    }
}
}

