.logo {
    color: #212121;
&-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    margin-right: 93px;
}
}